python-dotenv
dill
pandas
numpy
pymongo[srv]==4.13.0
certifi
scikit-learn
mlflow
pyyaml
dagshub
fastapi
dnspython>=2.0.0
uvicorn
# -e .   ← (keep this if you have a `setup.py` or `pyproject.toml` for local package installation)
